
.gameOver {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}
.gameOver .gameOver-box {
    position: fixed;
    top: 50%;
    left: 50%;
    display: inline-block;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.gameOver #gameOver-Title{

    text-align: center;
    margin: 0px 10px;
    color: white;
    font-size: 60px;
    



}
.gameOver #overlay{

}
.gameOver #overlay #gameOver-buttons{

    align-items: center;
    margin: 5px 140px;
}

.gameOver #overlay #gameOver-buttons button {
    border: none;
	background: #404040;
	color: #ffffff !important;
	font-weight: 100;
    width: 200px;
    padding: 15px 30px;
    text-align: center;
	text-transform: uppercase;
    margin: 4px 2px;
	border-radius: 6px;
	display: inline-block;
    table-layout: fixed;
	transition: all 0.3s ease 0s;
}
.gameOver #overlay #gameOver-buttons button:hover {
    color: #000000 !important;
	font-weight: 700 !important;
	letter-spacing: 3px;
	background: #A40505;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(164,5,5,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(164,5,5,0.57);
	transition: all 0.3s ease 0s;
}
